body
{
    text-align: center;
    background-color: #3F00FF;
}

#calc-outer
{
    padding: 20px;
    height: 455px;
    width: 300px;
    box-sizing: border-box;
    background-color: #89CFF0;
}

#rpc-box
{
    height: 175px;
    width: 250px;
    border: 10px solid #486081;
    box-sizing: border-box;
    background-color: steelblue;
}

#shoot-box
{
    height: 75px;
    width: 250px;
    border: 10px solid #486081;
    box-sizing: border-box;
    background-color: steelblue;
}

.btn
{
    width: 230px;
    height: 51px;
    background-color: steelblue;
    text-decoration-color: white;
    text-decoration-thickness: 15px;
}

.btn:hover
{
    background-color: #bae4fd;
}

.winDisplay
{
    height: 50px;
    width: 250px;
    border: 5px solid blue;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    background-color: steelblue;
}

.compDisplay
{
    height: 50px;
    width: 250px;
    border: 5px solid blue;
    margin-bottom: 5px;
    padding-top: 5px;
    background-color: steelblue;
}

.playerDisplay
{
    height: 50px;
    width: 250px;
    border: 5px solid blue;
    margin-bottom: 5px;
    padding-top: 5px;
    background-color: steelblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #89CFF0;
    left: 0;


}

li {
    float: left;
    height: 100%;
    padding: 20px 20px 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px 20px;
    text-decoration: none;
    margin-right: 3px;

}

li a:hover {
    background-color: black;
}
li a:hover:not(.active) {
    background-color: #111;
}


ul {
    position: fixed;
    top: 0;
    width: 100%;
}

