body
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3F00FF;
}

.rules
{
    text-align: center;
    background-color: #89CFF0;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #333;
}


button {
    background-color: #00FFFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #6495ED;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #89CFF0;
    left: 0;


}

li {
    float: left;
    height: 100%;
    padding: 20px 20px 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px 20px;
    text-decoration: none;
    margin-right: 3px;

}

li a:hover {
    background-color: black;
}
li a:hover:not(.active) {
    background-color: #111;
}


ul {
    position: fixed;
    top: 0;
    width: 100%;
}
